## mako
<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>

<script type="text/template" id="about-content">
		<div class="grid-manual">
  
        <div class="row justify-content-around">
		
            <div class="col col-4 subscriber-type text-center">
				<h2>Subscriber</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec justo tellus, sodales ac dui id, sodales sagittis massa. Donec placerat nulla ex, ut ultricies diam dapibus non. </p>
				<a href="https://learn-s.risual.com/auth/login/azuread-oauth2/?auth_entry=login&next=%2Fdashboard">Sign in</a>
            </div>
			
            <div class="col col-4 subscriber-type text-center">
				<h2>Microsoft</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec justo tellus, sodales ac dui id, sodales sagittis massa. Donec placerat nulla ex, ut ultricies diam dapibus non. </p>
				<a href="#">Sign in</a>
            </div>  
			
        </div>
          
         <div class="row">
		 
            <div class="col-7 intro-text">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec justo tellus, sodales ac dui id, sodales sagittis massa. Donec placerat nulla ex, ut ultricies diam dapibus non. Mauris mattis nulla quam, nec suscipit enim sodales eget. Praesent nec congue leo, venenatis vulputate magna. Maecenas nisl lacus, commodo gravida maximus at, condimentum sed sapien. Vestibulum auctor, elit non interdum feugiat, lectus tellus tempus eros, ut posuere ex sem nec felis. Phasellus ac massa convallis, sagittis lectus vel, vulputate leo. Duis iaculis nulla vehicula metus tempus, sit amet pharetra urna commodo. Fusce laoreet tortor in lacus aliquam elementum. Mauris fermentum nibh et tortor mollis venenatis.</p>

				<p>Duis eget augue dictum, semper dolor id, vulputate est. Fusce a sapien nec nunc porttitor volutpat ut in nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut consectetur dui velit, in fringilla turpis posuere a. Vivamus volutpat tortor at ligula tempor, quis feugiat tortor malesuada. Aliquam faucibus velit sit amet neque mollis, in venenatis tortor sollicitudin. Aliquam a vehicula nulla. Sed in nibh nec dui cursus consequat quis nec odio. Praesent suscipit enim ut ex commodo, sed pulvinar augue malesuada. Nulla facilisi. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
			</div>
			
             <div class="col-5 align-self-center">
                 <img src="${static.url('images/home-image.png')}" alt="#">
             </div>
			 
			 <div class="row cta-banner">
				<div class="col-12 text-center cta-home">
					<h1>Interested in a subscription for your business</h1>
					<a href="/contact-us">Contact Us</a>
					<p>Don't have a risual learning account? <a href="https://lms-risedulrn3-tm.trafficmanager.net/register">Sign up now!</a></p>
				</div>
			</div>
			 
          </div> 
		  
		</div>
	
</script>


<script src="${static.url('js/about-site.js')}"></script>
