## mako
<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>

<script type="text/template" id="about-content">
		<div class="grid-manual">
  
        <div class="row justify-content-around">
		
            <div class="col col-4 subscriber-type text-center">
				<h2>Subscriber training</h2>
				<p>If your organisation has an account with us, please log in here to access all your training videos. </p>
				<a href="https://learn-s.risual.com/auth/login/azuread-oauth2/?auth_entry=login&next=%2Fdashboard">Sign in</a>
                <p>Interested in a subscription for your business</p>
				<a href="/contact">Get in touch</a>
				
            </div>
			
            <div class="col col-4 subscriber-type-right text-center">
				<h2>Technical training</h2>
				<p>If you are a “techy” wanting to take a deep dive into Microsoft technology find all the Microsoft technical training you will need here. </p>
				<a href="https://learn.risual.com/login">Sign in</a>
				<p>Don't have a risual learning account?</p>
				<a href="https://learn.risual.com/register">Sign up now!</a>
            </div>  
			
        </div>
          
         <div class="row">
		 
           <div class="col-7 intro-text">
				<p><span>Hi</span>, we're risual, a well-respected Gold Microsoft partner with oodles of experience who deliver transformational IT services to all types of organisations. As wizards of technology we understand the challenges around training and learning so want to give you a helping hand. We can ensure that your employees are adapting with business change and learning how to use Microsoft software to become magicians of technology in their own right! </p>
                <h2>End user training</h2>
				<p>As master of your craft you might sometimes need a bit of help with the technology stuff, and we can help you learn in a way that suits you wherever you are, at your desk, at home, in the morning or the evening, your choice! Our platform is available 24/7 and it’s always on. We know it’s hard to fit training in your busy schedules, so we allow you to learn at your pace and on your watch! </p>
                <h2>Technical training</h2>
                <p>Our business is filled with IT lovers and technical boffins! We get how important it is to keep up to date with the latest technology, but we also understand how hard this is in a fast-paced industry. Let us help you, Microsoft love us so much they have given us access to all their technical courses and we want to share these with you. From PowerBI to CRM and Azure stay on onboard the geek train, choo choo!! </p>
                <p>*Cost of £99 to purchase certificate once course is complete</p>
			</div>
			
             <div class="col-5 align-self-center">
                 <img src="${static.url('images/home-image.png')}" alt="#">
             </div>
			 
			 
          </div> 
		  
		</div>
	
</script>


<script src="${static.url('js/about-site.js')}"></script>
