## mako
<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>

<script type="text/template" id="about-content">
  <div class="grid-manual">
    <div class="row">
      <div class="col col-12 text-center home-about">
        <h2>About Us</h2>
		<p>Welcome to our LaaS Platform! At risual, we offer market leading consulting, managed services and solutions in IT. That means there is no-one more equipped to solve a problem through Microsoft technology in the world. Through this platform we pass those expertise onto you so buckle up, get ready and start taking some courses! </p>
      </div>
    </div>

     <div class="grid-manual">
        <div class="row d-flex justify-content-around">
            <div class="col-4 subscriber-type text-center">
            <h2>Subscriber</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec justo tellus, sodales ac dui id, sodales sagittis massa. Donec placerat nulla ex, ut ultricies diam dapibus non. </p>
            <a href="#">Sign in</a>
            </div>
            <div class="col-4 subscriber-type text-center">
            <h2>Microsoft</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec justo tellus, sodales ac dui id, sodales sagittis massa. Donec placerat nulla ex, ut ultricies diam dapibus non. </p>
            <a href="#">Sign in</a>
            </div>  
        </div>
          
         <div class="row">
            <div class="col-7">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec justo tellus, sodales ac dui id, sodales sagittis massa. Donec placerat nulla ex, ut ultricies diam dapibus non. Mauris mattis nulla quam, nec suscipit enim sodales eget. Praesent nec congue leo, venenatis vulputate magna. Maecenas nisl lacus, commodo gravida maximus at, condimentum sed sapien. Vestibulum auctor, elit non interdum feugiat, lectus tellus tempus eros, ut posuere ex sem nec felis. Phasellus ac massa convallis, sagittis lectus vel, vulputate leo. Duis iaculis nulla vehicula metus tempus, sit amet pharetra urna commodo. Fusce laoreet tortor in lacus aliquam elementum. Mauris fermentum nibh et tortor mollis venenatis. <br><br>

            Duis eget augue dictum, semper dolor id, vulputate est. Fusce a sapien nec nunc porttitor volutpat ut in nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut consectetur dui velit, in fringilla turpis posuere a. Vivamus volutpat tortor at ligula tempor, quis feugiat tortor malesuada. Aliquam faucibus velit sit amet neque mollis, in venenatis tortor sollicitudin. Aliquam a vehicula nulla. Sed in nibh nec dui cursus consequat quis nec odio. Praesent suscipit enim ut ex commodo, sed pulvinar augue malesuada. Nulla facilisi. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            </div>
             <div class="col-5">
                 <img src="#" alt="#">
             </div>
          </div> 
      </div>
      
      <div class="content-wrapper"> 
          <div class="row">
            <div class="col-12 text-center">
              <h1>Interested in a subscription for your business</h1>
                <a href="/contact-us">Contact Us</a>
              </div>
          
          </div>
      </div>
      

    <div class="row more-about-btn">
      <div class="col col-12 text-center">
        <a href="${static.url('/about')}" class="btn-brand btn-client">More about this site</a>
      </div>
    </div>
	
	<div class="row cta-home">
		<div class="col-12 cta-details">
			<h1>Already a Subscriber</h1>
		</div>
		<div class="col-12 cta-details">
			<a href="https://learn-s.risual.com/auth/login/azuread-oauth2/?auth_entry=login&next=%2Fdashboard" class="btn-brand btn-client">Sign in</a>
		</div>	
	</div>
	
	<!-- <div class="row"> 
		<div class="col-12 text-center view-course-title"> 
			<h2>Courses Starting Soon</h2>
		</div>
	</div>	  
	<div class="row">
		<div class="col-12">
			<a href="${static.url('/courses')}" class="btn-brand btn-client view-courses">View All Courses</a>
		</div>
	</div>
			
	<div class="row">
		<div class="col-12 text-center view-course-title"> 
			<h2>Popular Courses Starting Soon</h2>
		</div>
	</div>	
	<div class="row">
		<div class="col-12">
			<a href="${static.url('/courses')}" class="btn-brand btn-client view-courses">View All Courses</a>
		</div>
	</div> -->
	
	

</script>


<script src="${static.url('js/about-site.js')}"></script>
