## mako
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<div class="page-heading">
  <h1>${_("Privacy Policy")}</h1>
</div>
<section class="static-content">
  <div class="grid-manual grid-container">
    <div class="inner-container">
      <div class="row">
        <div class="col col-12 sm-col-12 md-col-12">
          <h2 id="collaboration-policy">Privacy Policy</h2>
          <p>
           1   Introduction 
risual Limited offer leading consulting, managed services in IT and in doing so we engage with our current and former employee applicants, clients, employee’s, and third party suppliers, (data processors) who may hold and process your personal data on our behalf. This policy (together with our Terms of Use and other documents referred to on it) sets out the basis of our approach on safeguarding the privacy of your personal data when we collect, or that you provide to us, and how this will be processed by us. </p>
  <p>
1.1  Data Protection Act 
risual Limited is responsible for collecting, processing, storing and safe-keeping personal and other information as part of our business activities. We manage personal information in accordance with the Data Protection Act 1998, and are registered (registration number ZA004209) as a Data Controller with the Information Commissioner’s Office. 
We take your privacy and the security of your information very seriously. This policy sets out our approach to safeguarding the privacy of the personal information we hold. </p>
  <p>
1.2  Information we may collect from you 
We may collect and process the following information about you when you complete risual recruitment applications, (e.g. CV or online). This includes information provided at the time of supplying the information either by registering to use our service, site, subscribing to our service, posting material and/or as a current and former applicant, employee, contractor or client. This may include engagement with us when you register for an event, enter a competition or promotion sponsored by risual Limited, and when you report a problem with our site. 
When you contact us, we may retain a copy of the information we receive process and share with third parties. An example of how we use your information is when we engage our third party data processor,  EMBS Recruitment, to process some of our recruitment activities. They as well as risual Limited will hold personal and sensitive personal data. The information we may collect about you could include, but is not limited to: 
Name 
Date of birth 
National Insurance number 
Address 
Contact details (phone/mobile/email) 
Racial or ethnic origin 
Religious or other similar beliefs 
Physical or mental health or condition 
Convictions, proceedings and criminal acts 
Police Vetting Checks 
Drug and Alcohol tests 
Photographs and CCTV images 
We will not collect information about you that we do not need and we will ensure that the personal information we collect is updated to our systems in a timely and accurate manner. We may apply markers to your information (for example, in relation to your vulnerability or health status) to enable us to tailor and deliver services to you. </p>
<p>
1.3  How we use your personal information 
We use your information to respond to your enquiries, provide you with services and manage your relationship with us. We may also use your personal information for technical administration, research and development, customer administration, marketing and to identify areas where we can improve the services we provide. We only collect or use personal information for those purposes indicated in our notification with the Information Commissioner’s Office. 
We will regularly review the personal information we hold about you and make changes to any service or information-handling processes when the law or the Information Commissioner request such changes. </p>
 <p>
1.4  Visiting our websites 
When you visit one of our websites, we collect standard internet log information for statistical purposes. 
We use cookies to collect information in an anonymous way, including the number of visitors to the site, where visitors have come to the site from and the pages they visited. 
We do not make any attempt to identify visitors to our websites. We do not associate information gathered from our sites with personally identifying information from any source. 
When we collect personal information, for example via an online form, we will explain what we intend to do with it.http://www.risual.com/cookies-statement/ 
Our websites contain links to various third party websites. We are not responsible for the content or privacy practices of any external websites that are linked from our sites. </p>
<p>
1.5  Applying to work at risual Limited 
We regard your Curriculum Vitae, (CV) and personal details as very important private communication. The individual to whom the CV relates to is the owner of this information and by supplying this to us and/or our third party data processors, (e.g. EMBS) you consent for the processing of your data.  If you submit an application to work for risual Limited we will use your personal information to process your application and to produce and monitor recruitment statistics. We will not take up references without your prior permission. We will not share or disclose your information unless you have given us your consent or we are required to by law. Where we are required to carry out a Disclosure and Barring Service check, SC checks and other vetting and right to work in the United Kingdom checks we will comply with the law and your rights when carrying out these checks. 
We retain personal information relating to unsuccessful applicants for no longer than 12 months, for use in the event of an appeal. We produce statistical information to assist with recruitment analysis. Where sharing your data with our data processor, (e.g. EMBS) you will be required to supply independent consent to their processing activities when they do not involve risual Limited. </p>
  <p>
1.6  How we share your personal information 
We will not normally share your information without your consent unless we are required to by law. We may seek your consent directly, or may obtain it by telling you about how your information may be used at the time you provide information or enter into a contract (e.g. sign an employment contract) with us. </p>
  <p>
1.7  Our legal obligations 
We will share specific and relevant information with law enforcement and government agencies or public bodies where we are legally required to do so. Examples may include: 
The prevention or detection of crime and fraud 
The apprehension or prosecution of offenders 
The assessment or collection of tax or duty owed to customs and excise 
Sharing in connection with legal proceedings 
Sharing in relation to the physical or mental health of an individual, where disclosure is required to protect them or others from serious harm 
Research and statistical purposes 
We may also share your information with emergency services and local authorities, where this is necessary to help them respond to an emergency situation that affects you. </p>
<p>
1.8  Sharing information with our partners 
In some areas we may enter into partnerships with other organisations such as HMRC, DWP, and Police. We will enter into a data sharing agreement have data protection contractual obligations in place with all third parties before any sharing takes place with a partner organisation. 
  </p>
  <p>
1.9  Sharing information with our contractors and suppliers 
There are some cases when we will share your information to support legitimate business purposes. We do this to ensure that we can meet your needs, and also to meet our health and safety obligations towards those delivering services on our behalf. This may include sharing information with our contractors and suppliers to enable them to carry out duties on our behalf or to meet contractual obligations we may have. For example, we may share information to enable our maintenance contractors to make appointments with you to carry out repairs and/or deliver services. 
  </p>
  <p>
1.10  Keeping your information secure 
We store personal information both electronically and in paper form. We implement security policies, processes and technical security solutions to protect the personal information we hold from: 
Unauthorised access 
Improper use or disclosure 
Unauthorised modification 
Unlawful destruction or accidental loss 
When you contact us, we may ask you to provide us with some information so that we can confirm your identity. If other people (e.g. family members, solicitors) act on your behalf we will take steps to ensure that you have agreed for them to do so. This may include asking them to provide us with supporting information to indicate your consent. We do this to protect you and to make sure that other people cannot find things out about you that they are not entitled to know. Employees and third parties who have access to, or are associated with the processing of, your personal information are obliged to make reasonable efforts to safeguard it. </p>
<p>
1.11  Sharing your telephone number with third parties
We may pass your telephone number to third parties so that we can meet our contractual obligations with you. We may also share your telephone numbers if we are required to by law. We will comply with the Data Protection Act 1998. 
We may supply the details to our approved marketing or third party contractors who are delivering or performing services on our behalf, and these companies must not use your information for any other purpose. We never share or sell your telephone numbers telesales/marketing companies. 
  </p>
  <p>
2  Contacting us about your personal information 
We will be as open as possible with you about the personal information we hold about you, and if something is wrong we want to work with you to put it right. </p>
  <p>
2.1  Telling us about changes to your personal information 
You have the right to have inaccurate/outdated information amended, deleted or destroyed. If any of your circumstances change please contact us. 
  </p>
  <p>
2.2  Finding out about the personal information we hold about you 
You can ask us whether we are keeping personal information about you by writing to our Data Protection Officer, risual Limited, risual House, 12 Parker Court, Staffordshire Technology Park, Stafford, ST18 0WP.  The Data Protection Act 1998 gives you a number of rights in relation to your personal information. You can find out about your rights, and get further guidance, on the ICO website. 
  </p>
  <p>
2.3  Requesting a copy of your personal information 
As part of our service to you, we are happy to provide you with copies of personal data you are the focus of upon receipt of a formal written request. This is called a ‘subject access request’. If you make a subject access request we will provide you with a readable copy of the personal information we hold about you. You will only receive the information the Data Protection Act 1998 state are not exempt from disclosure. To make a subject access request you must: 
Make your request in writing 
Provide proof of your identity 
Pay a £10.00 fee 
Please send your request to HR, risual limited, 12 Parker Court, Beaconside, STAFFORD. ST18 0WP. </p>
<p>
3  Questions and complaints 
Please tell us if you have a concern about the personal information we hold about you, or how we use it. We’ll do our best to help. If, after contacting us, you are still not satisfied you can complain to the Information Commissioner. You can also apply to the Court for compensation for distress and/or damages due to non-compliance of the Data Protection Act. </p>
  <p>
4  Contacting us 
If you want to contact us specifically about the privacy of your personal information, please contact: 
  
Data Protection Officer 
risual limited 
12 Parker Court 
Beaconside 
STAFFORD 
ST18 0WP 
  </p>
  <p>
5  Keeping this policy updated 
We keep our privacy policy under regular review. This privacy notice was last updated on February 2017. 
 </p>
        </div>
      </div>
    </div>
  </div>
</section>
