## mako
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About Us")}</%block>

<div class="page-heading">
  <h1>${_("About Us")}</h1>
</div>
<section class="static-content">
  <div class="grid-manual grid-container">
    <div class="inner-container">
      <div class="row">
        <div class="col col-12">
        <img src="/static/risual-theme-tabletacademy/images/inline-tablet-logo.png">
        
        <p class="red-typography">A experienced team of educators with a focus on supporting the transformation of teaching and learning within educational institutions through the upskilling of staff and the integration of existing and new technologies, pedagogies and didactic models appropriate to the institutions' needs</p>
                                                                          
		<h1>Tablet Academy ethos </h1>
		<p>Tablet Academy is a leading platform agnostic and hardware independent educational services company founded in 2012 by well-known educationalist Professor Steve Molyneux and creative consultant Mark Yorke. Through high-level consultancy and professional development services, our team of experienced consultants, educators, and trainers assist over 700 organisations and upskill in excess of 13,000 individuals per annum. Our aim is to enhance education and training productivity by focussing on 'aptitude and attitude to work' transformation, and not merely on technology.</p>
        <a class="link-red" href="https://www.tablet-academy.com"></a>

        <img src="/static/risual-theme-tabletacademy/images/risualopenedx-logo.png">
        <p class="red-typography">risual is a dedicated, UK based, globally recognised IT Services organisation delivering business aligned consultancy, solutions and services based solely on the Microsoft platform. Our ability to drive business benefit through innovation, excellent customer service with a deep technical ability has made us one of Microsoft's strongest partners in the industry. This learning platform aims to give you a bespoke learning experience like none other. </p>

        <h1>The risual ethos </h1>
        <p>risual was founded in 2005 on the values of honesty, openness and trust. Set up by two young entrepreneurs, Alun Rogers and Richard Proud, the business still champions these values today. All employees are encouraged to conduct themselves in accordance with our values and treat co-workers, customers and those in the community with the respect they deserve. We never have and never will take on work that is not beneficial to the customer. We have challenged and will continue to challenge ourselves, our customers and our business leaders to do more with technology to improve the world we live in.</p>	
        <a class="link-red" href="https://www.risual.com"></a>
        </div>
          
        <div>
        <p class="blue-background">Access to the online courses is granted through an annual subscription. If you don't have a subscription, you can click here to find out more and see an example training video.</p>
        </div>  
          
      </div>
    </div>
  </div>
</section>
