
<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>

<section class="footer-main text-center"> 

<div class="grid-manual grid-container"> 

  <div class="row"> 

    <div class="col col-12 sm-col-12 md-col-4 footer-logo"> 

      <ul> 

          <li><a href="/"><img src="/static/risual-theme-s/images/openedx-logo-tag.png" alt="openedx-logo" style="height:50px; "></a></li> 

          <li class="back-top"><a href="#"><img src="/static/risual-theme-s/images/upload.png" alt="back to top" style="20px; "></a></li> 

      </ul> 

    </div> 

    <div class="col col-12 sm-col-12 md-col-4"> 

      <ul> 

        <li>Connect</li> 

        <li><a href="https://www.facebook.com/risualltd/?hc_ref=ARTBLFFhBawdd3U_jx85coQMatRRr6GQ7ud5oiJKAzKJlTnmBso_SQz1B8uqbxfjJHc&fref=nf">Facebook</a></li> 

        <li><a href="https://twitter.com/risual?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Twitter</a></li> 

        <li><a href="https://www.linkedin.com/company/risual-limited">LinkedIn</a></li> 

        <li><a href="https://www.youtube.com/channel/UCXYSrIVe7YWcVUJPDqiFP3g">YouTube</a></li> 

      </ul> 
    </div> 
	
	<div class="col col-12 sm-col-12 md-col-4"> 

      <ul> 
        <li><a href="/contact">Contact Us</a></li> 

        <li><a href="/tos">Terms of Service</a></li> 

        <li><a href="/privacy">Privacy Policy</a></li> 
		
		<li><a href="/cookie-policy">Cookie Policy</a></li> 
		
		<li><a href="/faq">FAQs</a></li> 

      </ul> 

    </div> 

</div>
</div> 

</section> 
