
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>

<section class="home">
  <header class="hero-catalog hero-small hero">
    <div class="tint-dark">
      <div class="grid-container grid-manual">
        <div class="row">
          <div class="col col-10 sm-col-10 md-col-10 lg-col-8 xl-col-6 text-tint .page-heading h1">
            <h1>Courses</h1>
			<p>View all the courses currently available</p>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="courses-section">
    <div class="courses-container">
      <div class="highlighted-courses">
        <section class="courses">
          <div class="grid-manual">

            <div class="row .course-search">
              <div class="col-5">
				<!-- Results Quantity View -->
                <h2>Viewing 1000 Matching Courses</h2>
              </div>
			  
			  <!-- Search Bar -->
				<div class="col-7">
					 <a class="btn-brand btn-client" href="#">Search</a>
				</div>
			</div>
			<div class="row">
				<!-- <div class="lg-col-3">
					<div class="row xl-hidden-down" >
						<div class="col-12 courses-filter">
							<h3>Refine Your Search</h3>
							<hr>

							<ul>
								<li class="courses-filter-title">Filter Title</>
								<li><a href="#">Filter 1</a></li> 
								<li><a href="#">Filter 2</a></li> 
								<li><a href="#">Filter 3</a></li> 
								<li><a href="#">Filter 4</a></li> 
							</ul>
							<ul>
								<li class="courses-filter-title">Filter Title</>
								<li><a href="#">Filter 1</a></li> 
								<li><a href="#">Filter 2</a></li> 
								<li><a href="#">Filter 3</a></li> 
								<li><a href="#">Filter 4</a></li> 
							</ul>
							<ul>
								<li class="courses-filter-title">Filter Title</>
								<li><a href="#">Filter 1</a></li> 
								<li><a href="#">Filter 2</a></li> 
								<li><a href="#">Filter 3</a></li> 
								<li><a href="#">Filter 4</a></li> 
							</ul>
						</div>
					</div>
			  </div> -->
			<div class="lg-col-12">
            <div class="row course-list">
              %for course in courses:
              <div class="col col-12 sm-col-12 md-col-4 lg-col-4">
                <div class="courses-listing-item">
                  <%include file="../course.html" args="course=course"/>
                </div>
              </div>
			 
              %endfor
            </div>
			</div>
	
			</div>
			
          </div>
        </section>
      </div>
    </div>
  </section>
</section>
