
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>

<section class="home">
  <header class="hero-catalog hero-small hero">
    <div class="tint-dark">
      <div class="grid-container grid-manual">
        <div class="row">
          <div class="col col-10 sm-col-10 md-col-10 lg-col-8 xl-col-6 text-tint .page-heading h1">
            <h1>Courses</h1>
			<p>View all the courses currently available</p>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="courses-section">
    <div class="courses-container">
      <div class="highlighted-courses">
        <section class="courses">
          <div class="grid-manual">

            <div class="row">
              <div class="col-5">
			  <!-- Results Quantity View -->
                <h2><span>Viewing 1000 Matching Courses</span></h2>
              </div>
			  
			  <!-- Search Bar -->
			  <div class="col-7">
			 <form class="form-inline">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
            </div>
			
			<div class="row">
				<div class="lg-col-3">
					<!-- Filter Sidebar -->
					<div class="row">
						<div class="col-12">
							<ul>
								<li>Filter Title</>
								<li><a href="#">Filter 1</a></li> 
								<li><a href="#">Filter 2</a></li> 
								<li><a href="#">Filter 3</a></li> 
								<li><a href="#">Filter 4</a></li> 
							</ul>
							<ul>
								<li>Filter Title</>
								<li><a href="#">Filter 1</a></li> 
								<li><a href="#">Filter 2</a></li> 
								<li><a href="#">Filter 3</a></li> 
								<li><a href="#">Filter 4</a></li> 
							</ul>
							<ul>
								<li>Filter Title</>
								<li><a href="#">Filter 1</a></li> 
								<li><a href="#">Filter 2</a></li> 
								<li><a href="#">Filter 3</a></li> 
								<li><a href="#">Filter 4</a></li> 
							</ul>
						</div>
					</div>
			  </div>
			<div class="lg-col-9">
            <div class="row course-list">
              %for course in courses:
              <div class="col col-12 sm-col-12 md-col-4 lg-col-4">
                <div class="courses-listing-item">
                  <%include file="../course.html" args="course=course"/>
                </div>
              </div>
			 
              %endfor
            </div>
			</div>
	
			</div>
			
          </div>
        </section>
      </div>
    </div>
  </section>
</section>
