## mako
<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>

<script type="text/template" id="about-content">
		<div class="grid-manual">
  
        <div class="row justify-content-around">
		
            <div class="col col-4 subscriber-type text-center">
				<h2>End user training</h2>
				<p>Has your organisation got a subscription with us? Log in here to get access to the good stuff </p>
				<a href="https://learn-s.risual.com/auth/login/azuread-oauth2/auth_entry=login&next=%2Fdashboard">Sign in</a>
                <p>Interested in a subscription for your business</p>
				<a href="http://tablet-academy.com/contact/" target="_blank">Get in touch</a>
            </div>
			
            <div class="col col-4 subscriber-type-right text-center">
				<h2>Technical training</h2>
				<p>Looking for the best official Microsoft technical content? Create an account and step right in. </p>
				<a href="https://tabletacademy.risual.com/login">Sign in</a>
				<p>Don't have a risual learning account?</p>
				<a href="https://tabletacademy.risual.com/register">Sign up now!</a>
            </div>  
			
        </div>
          
         <div class="row">
            <div class="col-12 intro-text">
				<p class="red-typography-home">Welcome to our Online Training Platform combining the teaching knowledge of Tablet Academy, a Microsoft in Education Global Training Partner and the technical expertise of risual, a Microsoft Gold Partner. This education focused platform, provides access to a growing library of end user training courses (starting with Office 365) focused on how to use technology to better teaching and learning.<p> 

                <p>Created by our experienced educators, each course is designed as a self-paced learning module, enabling educators (and support staff) to follow a series of bite-sized videos and complete assessment modules to check their level of understanding.</p>

                <p>The system is designed to allow individuals to quickly find answers to ‘How to’ questions, or to work their way through each ccourse they feel relevant to the skills they are looking to acquire.</p> 
                
                <p>Thanks to the partnership with risual, the platform also includes access to a growing library of Microsoft technical courses allowing your IT staff to up-skill their knowledge.</p>
                
                <p class="blue-background">Access to the online courses is granted through an annual subscription. If you don't have a subscription, you can <a href="http://tablet-academy.com/online-training/">click here</a> to find out more and see an example training video.</p>
			</div>
			 		 
          </div> 
		  
		</div>
	
</script>


<script src="${static.url('js/about-site.js')}"></script>
